@import '../_vars.scss';

$gridItemHeaderH:28px;

.grid{
    .gridItem{
        z-index:10;
        .gridItemTitle{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow:hidden;
            height:$gridItemHeaderH;
            color:$colorText;
            font-weight:400;
            font-size:18px;
            padding-left:10px;
            letter-spacing: 0.6px;
            cursor:grab;
            &:active{
                cursor:grabbing;
            }
            span{
                margin-left:auto;
                font-size:10px;
                color:$colorLightGrey;
                letter-spacing: normal;
            }
        } 
        .gridItemContent{
            background-color:#FFF;
            border-radius:10px;
            overflow: hidden;            
            height:calc(100% - #{$gridItemHeaderH});
            box-shadow: $boxShadowLight;
        }
    }
    .react-grid-placeholder{
        background-color:transparent !important;
        transition:all 0.2s ease-out;

        &:before{
            content:"";
            display:block;
            margin-top:$gridItemHeaderH;
            width:100%;
            height:calc(100% - #{$gridItemHeaderH});
            background-color:#000;
            border-radius:10px;

        }
    }
}

.gridSettings{
    .gridSettingsItem{
        display:flex;
        justify-content: space-between;
        height:52px;
        padding:10px;
        border-bottom:1px solid rgba(0,0,0,0.1);
        align-items: center;
        .label{
            font-weight:500;
            font-size:16px;
            
        }
        .rightSide{
            display:inline-flex;
            align-items:center;
            .icon{
                margin-right:5px;
                opacity:0.7;
                user-select: none;
            }
        }
        &:last-child{
            border-bottom:0;
        }
    }
}