.orgSelectorWidget{
    height:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .switchAccount{
        width:100%;
        .ddBtn{
            .label{
                .psapName{
                    font-size:18px;
                }
            }
        }
    }
}