

@keyframes fadeAndScaleIn{
    
    0% {opacity:0; transform:scale(0.95,0.95);}
    100% {opacity:1; transform:scale(1,1);}
}

@keyframes fadeAndScaleOut{
    
    0% {opacity:1; transform:scale(1,1);}
    100% {opacity:0; transform:scale(0.95,0.95);}
}

@keyframes fadeIn{
    0% {opacity:0}
    100% {opacity:1}
}
@keyframes fadeInBG{
    0% {opacity:0}
    100% {opacity:0.2}
}
@keyframes spin{
    0% {transform:rotate(0deg)}
    100% {transform:rotate(360deg)}
}

@keyframes scrollText{
    0%{
        transform:translate(0,0);
    }
    100%{
        transform:translate(-50%,0);
    }
}


@keyframes unblur{
    
    0% {filter:blur(50px)}
    100% {filter:blur(0)}
}

